<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About the Author</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/loot_gen_table/styles.css' %}" />
</head>

<!--Main Body-->
    <body>
        <h1> About Me:</h1>
        <h2>
            Seth Hartman
        </h2>
        <h3>
            Family:
        </h3>
        <p>
            My wife and I are have a kid on the way, I expect to be the father of a baby boy early July.
        </p>
        <p>
            Hello Everyone! To start things off, I am the youngest of 9 children. I currently live
            in Rexburg, Idaho. I am originally from Bountiful, Utah, but I usually say that I am from Pocatello, Idaho. I got married to my beautful sweetheart on July 29th, 2022
        </p>
        {% load static %}
        <img alt="Kim and I wedding" src="{% static '/loot_gen_table/image0.jpg' %}">
        <br>
        <h3>
            General Information:
        </h3>
        <p>
            I am 21 years old, I am turning 22 on June 13th. 
        </p>
        <h3>
            Schooling:
        </h3>
        <p>
            I am a Senior studying Computer Science as my major. I am going to be earning my Applied Associates of Science in Professional studies July 2023. I originally was a Mechanical Engineering major.
        </p>
    </body>
</html>